<nav class="py-4 text-center col-md-12 mx-auto my-5">
    <ul class="menu" id="menu">
        <li class="menu-home" itemscope="itemscope">
            <a itemprop="url" href="/" class="menu-active crop-img" style="width: 250px; margin-left: 50%;">
                <span itemprop="name">GUIA DE JUEGO</span>
                <img style="width: 800%; margin:0;" src="../img/icoMenu_web.png">
            </a>
        </li>
        <li><a href="/login">login</a></li>
        <li><a href="/login">login</a></li>
    </ul>
</nav>
