<nav class="py-4 text-center col-md-12 mx-auto my-5">
    <ul class="menu" id="menu">
        <li><a href="/login"><%= __('LogIn') %></a></li>
        <li><a href="/register"><%= __('CreateAccount') %></a></li>
    </ul>
</nav>
