<!DOCTYPE html>
<html>
    <head>
        <title>Hola</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <style>
            body{
                /*background-image: url('../img/Bg-pagina.png');*/
                background: url('../img/Bg-pagina.png') 50% 0 no-repeat;
                -webkit-background-size: auto;
                position: relative;
                /*overflow: hidden;*/
            }

            #cont-logo{
                padding-top: 26rem!important;
            }

            header .menu {
                width: 624px;
                height: 65px;
                position: absolute;
                bottom: -1px;
                left: 12px;
                /*background: url(../images/layout/menu-bg.jpg?v=3) no-repeat;*/
            }

            header .menu {
                width: 624px;
                height: 65px;
                position: absolute;
                bottom: -1px;
                left: 12px;
            }

            ol, ul {
                list-style-type: none;
            }

            header .menu li, header .menu li a {
                display: block;
                width: 104px;
                height: 90px;
                margin: 0;
                color: #a99877;
                font: normal 12px "Arial", sans-serif;
                text-transform: uppercase;
                text-shadow: 0 1px 0 #000, 0 0 5px #000;
            }

            header .menu li {
                float: left;
            }

            header .menu .crop-img {
                max-width: 100%;
                overflow: hidden;
                margin: 0 auto;
                padding: 0;
                position: relative;
            }

            header .menu .crop-img img {
                display: block;
                max-width: none !important;
            }

            div.crop-img {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
div.crop-img img {
  display: block;
  max-width: none !important;
}

        </style>

    </head>
    <body>
        <div class="container">

            <% include partials/cabezera.ejs %>
            <h1 style="float: center;">Hola index</h1>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
