body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Invisible {
	visibility: hidden;
    position: absolute;
}

/*--------------------------
    GAME
---------------------------*/

#CChat {
    background: rgba(0, 0, 0, 0.50);
    /* margin: 427px 15px 0 0; */
    margin-top: 427px;
    padding: 5px 3px;
    width: 265px;
    border-top-right-radius: 5px;
    position: absolute;
    bottom: 0;
}

#Chat {
    background: rgba(0, 0, 0, 0.50);
	text-align:justify;
	width: 265px;
	height: 145px;
	max-width: 265px;
	max-height: 145px;
    margin-bottom: 5px;
    color: white;
}

#Mensaje {
    background: rgba(0, 0, 0, 0.50);
    color: white;
    width: 265px;
}

#chatlog {
	/*align: bottom;*/
	/*position: absolute;*/
	bottom: 10px;
	left: 15px;
	/*font-family: "Minecraftia";*/
	font-size: 10px;
	overflow:auto;
	border: 1px solid black;
	border-radius:3px;
	width: 250px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.7);
	/*background-image: url(../sprites/chatlog.png);*/
}

#message {
	/*position: absolute;*/
	right: 10px;
	/* autocomplete: off; */
	top: 10px;
	color: #c96;
	/*font-family: "Minecraftia";*/
	width: 210px;
	height: 20px;
	line-height: 25px;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.8);
	float: left;
	border: 1px solid #EEEEEE;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

#COpciones {
    background: rgba(0, 0, 0, 0.50);
    padding: 5px 15px;
    /* width: 150px; */
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
}