<div id="draggable_contenedorPersonaje">
    <div id="personaje">
        <div style="background-color: #0000004a;">
            <div class="row">
                <div class="col-9" style="text-align: center; padding-right: 0%;">Titulo</div>
                <div class="col-3" onclick="alert('Cerrado');">X</div>
            </div>
        </div>
        <div id="containerCharacter_Character" style="background-color: #0000004a; margin-top: 10px;"></div>

        <div id="containerCharacter_Attribute" class="Invisible" style="background-color: #0000004a; margin-top: 10px;">
            <div id="attribute1" style="min-width: 100%; max-width: 100%; height: 250px; margin: 0 auto"></div>
            <div id="CAttribute"></div>
        </div>

        <div id="containerCharacter_Jutsu" class="Invisible" style="background-color: #0000004a; margin-top: 10px;"></div>

    </div>
    <div class="row">
        <div class="col" onclick="changeCharacter(1);">Personaje</div>
        <div class="col" onclick="changeCharacter(2);">Atributos</div>
        <div class="col" onclick="changeCharacter(3);">Árbol de elementos</div>
        <div class="col" onclick="changeCharacter(4);">Jutsus</div>
        <div class="col" onclick="changeCharacter(5);">Organización</div>
        <div class="col" onclick="changeCharacter(6);">Amigos</div>
    </div>
</div>
