<div id="hubPrincial" class="Invisible">

    <!------------------------------ *
        BARRA DE VIDA
    * ------------------------------>
    <div id="CEstadisticas">
        <div id="CNameLevel"><strong id="name">XXX</strong>,<strong id="level">XXX</strong></div>
        <div id="Csalud"><strong id="salud">XXX / XXX</strong></div>
    </div>

    <!------------------------------ *
        CHAT
    * ------------------------------>
    <div id="CChat">
        <!-- Chat -->
        <div id="Chat" class="text"></div>
        <!-- Mensaje-->
        <input id="Mensaje" type="text">
    </div>

    <!------------------------------ *
        OPCIONES
    * ------------------------------>
    <div id="COpciones">
        <div class="row">
            <div id="BtnPersonaje" class="col">p</div>
            <div id="BtnMochila" class="col">m</div>
            <div id="BtnOpciones" class="col">o</div>
        </div>
    </div>

    <!------------------------------ *
        CONTENEDOR PERSONAJE
    * ------------------------------>
    <% include containerCharacter.ejs %>

</div>
