<div id="personajes" class="Invisible" style="position: absolute; width: 100%; height: 100%;">
    <div class="row" style="background-color: #bad2f7; height: 100%; margin-right: 0px; margin-left: 0px;">

        <div id="DataCharacter" class="col-3">
            <div id="NameRango">
                <div id="characters_Name"></div>
                <div id="characters_Rank"></div>
            </div>
            <div id="attribute" style="min-width: 100%; max-width: 100%; height: 250px; margin: 0 auto"></div>
        </div>

        <div id="SkinCharacter" class="col-6">
            <div class="mx-auto" style="width: 50%"><img src="../img/game/circulo.jpg" width="100%"></div>
            <div id="characters_Skin" style="margin-top: 15%; margin-left: 40%;"></div>
            <div id="characters_BtnGetInGame" class="mx-auto" style="width: 50%; margin-top: 10%;"><button style="width: 100%;">Entrar al mundo</button></div>
        </div>

        <div class="col-3" style="padding-right: 0px;">
            <div id="listPersonajes"></div>

            <div>Eliminar</div>
        </div>

    </div>
</div>
